@media (max-width: 600px;) {

#columns {
    display: block;
    width: 100%;
}
}

@media (min-width: 600px;) {

#columns {
   display: inline-block;
   width: 50%;
}

}

/* label focus color */
 .input-field input:focus + label {
   color: black !important;
 }
 /* label underline focus color */
 .row .input-field input:focus {
   border-bottom: 1px solid black !important;
   box-shadow: 0 1px 0 0 black !important
 }

 .myfont{
      font-family: 'Segoe UI';
      
      font-weight: bold;
      color: black;
}

.finder-window{
 
  width: 37%;
  
  display: block;
  overflow: hidden;

  
}





.auctionpic{

  width: 50%;
  height: 50%;
}


.sidebar{

  display: block;
  
  width: 100%;
  
  overflow: hidden;
  //-webkit-filter:blur(2px);
  //filter: blur(30px) saturate(20);
  
   border-radius: 10px;
    border-top-left-radius: 0px;

 font-family: 'Raleway';
 background:  -webkit-gradient(linear, left top, left bottom,  color-stop(0%,#e5e3e5), color-stop(100%,#cecdce));
 background: rgba(0, 0, 0, 0.5);
 color:whitesmoke;
 backdrop-filter: blur(30px);
 box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}




 .sys {

      background: none;
      position: absolute;
      border: none;
      left: 6%;
      top: 1%; 
      display: block;
      font-size: 140%;
      font-family: 'HelveticaNeueLT Std Lt';
       font-family: 'Raleway';
      font-family: 'Segoe UI Light';
      font-weight: bold;
      
      color:whitesmoke;
      margin-bottom:12px;
      line-height: 1.25 * 1.5rem; 
 }

 
  .navIcon
{
  
  background: none;
  background-size:3% 6%;
  background-repeat: no-repeat;
  
  width: 4%;
  height: 70%;
  padding: 0px;
  position: absolute;
  border: 2px;
  border-color: black;
  z-index: 1;

}


.modal-width1 {

	max-width: 460px;
}

.row-width1 {

	max-width: 600px;
}

.row-width2 {

  max-width: 700px;
}


.reg-width {

	max-width: 700px;
}

h4, h3{
      font-family: 'Segoe UI';
}